* {
	margin: 0;
	padding: 0;
}

html {
	
}

body {
	font-family: "Trebuchet MS", sans-serif;
}

#output, #footer, #input {
	position: absolute;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#output {
	top: 0;
	bottom: 44px;
	overflow: auto;
}

#output li {
	padding: 8px;
	border-bottom: 1px solid #ccc;
}

#footer {
	height: 44px;
	bottom: 0;
	padding: 8px;
	border-top: 1px solid #ccc;
}

#input {
	position: relative;
	height: 100%;
}

.info {
	font-weight: bold;
}

